head
  title esmBot Command List
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='The command list for esmBot')
  meta(property='og:title' content='esmBot Command List')
  meta(property='og:site_name' content='esmBot')
  meta(property='og:url' content='https://projectlounge.pw/esmBot/help.html')
  meta(property='og:description' content='This is the command list for esmBot.')
  meta(property='og:type' content='object')
  meta(property='og:image' content='https://raw.githubusercontent.com/TheEssem/esmBot/master/esmbot.png')
  meta(charset='UTF-8')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css')
  style.
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }
    @media (max-width: 767px) {
      .markdown-body {
        padding: 15px;
      }
    }
body    
  article#markdown.markdown-body
    h1#img-srchttpsrawgithubusercontentcomtheessemesmbot-rewritemasteresmbotpng-width64-esmbot-dev-command-list
      img(src='https://raw.githubusercontent.com/TheEssem/esmBot-rewrite/master/esmbot.png' width='64')
      |  esmBot Command List
    p by Essem#9261
    p
      strong
        | You are currently using esmBot Dev! Things may change at any time without warning and there will be bugs. Many bugs. If you find one, 
        a(href='https://github.com/TheEssem/esmBot-rewrite/issues') report it here
        |  or in the esmBot Support server.
    p
      code []
      |  means an argument is required, 
      code {}
      |  means an argument is optional.
    p
      | Default prefix is 
      code &amp;
      | .
    blockquote
      p
        | Tip: You can get more info about a command by using 
        code help [command]
        | .
    h2#table-of-contents Table of Contents
    ul
      li
        a(href='#general')
          strong General
      li
        a(href='#moderation')
          strong Moderation
      li
        a(href='#tags')
          strong Tags
      li
        a(href='#fun')
          strong Fun
      li
        a(href='#images')
          strong Image Editing
      li
        a(href='#soundboard')
          strong Soundboard
    h2(id='general') &#x1F4BB; General
    each command in commands.general
      ul
        li!= command
    h2(id='moderation') &#x1F528; Moderation
    each command in commands.moderation
      ul
        li!= command
    h2(id='tags') &#x1F3F7;&#xFE0F; Tags
    blockquote
      p Every command in this category is a subcommand of the tag command.
    each command in commands.tags
      ul
        li!= command
    h2(id='fun') &#x1F44C; Fun
    each command in commands.fun
      ul
        li!= command
    h2(id='images') &#x1F5BC;&#xFE0F; Image Editing
    blockquote
      p These commands support the PNG, JPEG, and WEBP formats.
    each command in commands.images
      ul
        li!= command
    h2(id='soundboard') &#x1F50A; Soundboard
    each command in commands.soundboard
      ul
        li!= command